.header nav {
  position: fixed;
<<<<<<< HEAD
  left: -24px;
  top: 0px;
  width: 100%;
  height: 5.5rem;
=======
  left: 0px;
  top: 10px;
  width: 100%;
  height: 3.5rem;
>>>>>>> 9bac8c10435934f70f6f63feb0bfbf47b3373a4e
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header {
  position: relative;
  z-index: 1000;
}

.header-nav-left-items {
  justify-content: left;
}

.header-nav-right-items {
  justify-content: right;
}

.header nav:hover {
  background: white;
}

.header-logo {
  background-position: center;
  background-size: cover;
  height:80px;
  width: 100px;
  min-width: 100px;
  margin: 0;
}

.header-nav-items {
  margin-left: 1.5rem;
}

.header-nav-items ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav-items li {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.header-nav-items a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-stretch:ultra-condensed;
}

.navbar-search input {
  display: flex;
  outline: 1px solid lightgray;
  border: none;
  box-sizing: border-box;
  margin-top: 8px;
  padding: 8px 16px;
  border-radius: 4px;
  width: 100%;
  border-bottom: 1px solid rgb(230,230,230);
  font-size: 14px;
  line-height: 26px;
}

.navbar-user-avatar {
  background: #999999;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-right: 15px;
}

.navbar-user-avatar:hover {
  border: 2px solid #fdcf41;
  cursor: pointer;
}

.navbar-search i:hover, .notifications:hover {
  color: #fdcf41;
  cursor: pointer;
}

.header-nav-text:hover {
  cursor: pointer;
  border-bottom: 3px solid #fdcf41;
  width: 85%;
  transition-property: width;
  /* transition: transform 250ms ease-in-out; */
  /* transition-duration: 0.7s; */
  transition-timing-function: ease;
  /* transform: scaleX(1); */
  /* transform-origin:0 50%; */
  padding: 5px;
}