.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5.rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.header :hover {
  background: lightgrey;
}

.header-logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.header-nav-items {
  margin-left: 1.5rem;
}

.header-nav-items ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav-items li {
  margin: 0 1rem;
}

.header-nav-items a {
  text-decoration: none;
  color: black;
}