.auth-page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form-container {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form-container h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.auth-form-input::placeholder {
  font-size: 12px;
}

.auth-form-input {
  outline: none;
  border: none;
  box-sizing: border-box;
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  border-bottom: 1px solid black;
  font-size: 16px;
}

.auth-form-button:focus {
  outline: none;
}

.auth-form-button:hover {
  cursor: pointer;
}

.auth-form-button {
  width: 100%;
  border: none;
  margin-top: 16px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 12px;
}

.auth-page-container a {
  margin-bottom: 48px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}