.splash-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caro-div-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.splash-description-header{
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
}

.splash-description {
    
    height: 100%;
    margin-left: 10px;
    width: 575px;
    border-radius: 10px;
}

.splash-description-text{
    
    font-family: 'Cedarville Cursive', cursive;
    font-size: 65px;
}
